<div class="footer-experience" style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../assets/trainghiem.JPG);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
    <h1 class="footer-title">Hãy đến và trải nghiệm !</h1>
</div>
<div class="footer-information">
    <div class="container">
        <div class="row">
            <div class="col-5-lg col-3-xs club-info">
                <h1 class="club-name">Cáo Xám</h1>
                <div class="club-brand">Rooftop Beer Garden</div>
                <br />
                <div>Số 44 Đề thám, P.Cầu Ông Lãnh, Q.1</div>
                <div>(028).6698.2345</div>
                <br />
                <span class="fa-icon">
                    <i class="fa fa-facebook fa-3x icon"></i>
                    <i class="fa fa-instagram fa-3x icon"></i>
                </span>
            </div>
            <div class="col-7-lg col-5-xs google-map">
                <iframe
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=CÁO+XÁM-Rooftop+beer+Garden" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">Copyright @2019 by Cáo Xám. All right reserved.</div>
</div>