<div class="container-fluid head-img"
style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../assets/aboutUs1.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            z-index: -1;
            filter        : blur(10px);
            -moz-filter   : blur(10px);
            -webkit-filter: blur(10px);
            -o-filter     : blur(10px);">
</div>
<div class="content">
    <h1 class="title">Về chúng tôi</h1>
    <div class="row" style="width:100%">
        <div class="col-6 half-left text-center">
            <img class="vertical-image" src="../../assets/aboutUs2.jpg">
            <img class="absolute-image" src="../../assets/aboutUs3.JPG"> 
        </div>
        <div class="col-5 half-right">
            <div>
                <p class="about-us-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>