nav {
    font-size: 20px;
}

.bg-nav {
    background-color: #d2d9da;
}

.nav-logo {
    width: 40px;
}

.nav-padding {
    padding-left: 170px;
    padding-right: 170px;
}

.nav-item {
    margin: 0 70px;
    color: #051832;

    .nav-link {
        cursor: pointer;
    }
}

.language {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.ml-auto {
    margin-left: 228px !important;
}

// -------------------------------------------- RESPONSIVE --------------------------------------------

@media screen and (max-width: 768px) {
    .navbar {
        width: 100vw;
        height: 77.83px;
        position: relative;
        min-height: 77.83px;
        padding: 0 .75rem;
        
    }

    .fixed-top {
        position: fixed;
    }

    .nav-logo {
        position: relative;
        width: 1.75em;
    }

    .nav-padding {
        padding-left: 0;
        padding-right: 0;

        .navbar-brand {
            margin: 0;
            padding: 0;
        }
    }
    
    .navbar-nav {
        position: relative;
        display: inline-block;
        width: 33.33%;
        display: contents;

        .nav-item {
            margin: auto;
            display: table-cell;

            .nav-link {
                font-size: 0.5em;
                font-weight: 600;
            }
        }
    }
    .mr-auto {
        margin: 0 !important;
        padding: 0 !important;
    }

    .ml-auto {
        margin: 0 !important;
        padding: 0 !important;

        .language:first-child {
            text-align: right;
            margin-left: 20px;
        }
    }
}
