nav {
    font-size: 20px;
}

.bg-nav {
    background-color: #d2d9da;
}

.nav-logo {
    width: 40px;
}

.nav-padding {
    padding-left: 170px;
    padding-right: 170px;
}

.nav-item {
    margin: 0 70px;
    color: #051832;
}

.language {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}