.pagination {
    .page-number {
        width: 40px;
        line-height: 40px;
        color: #051832;
        font-size: 20px;
        cursor: pointer;
    }
    .page-none {
        height: 40px;
    }

    .active {
        background-color: #051832;
        color: #fff;
        border-radius: 50%;
    }
}