<div class="menu-detail">
    <div class="menu-card">
        <div class="container">
            <div class="row">
                <div class="col-4" style="background-color: red;">
                    <img class="item-img">
                </div>
                <div class="col-8" style="background-color: yellowgreen;">
                    <h2 class="item-name">Beer 1</h2>
                    <hr class="hr"/>
                    <div class="item-description">Earthy, smooth, with a rich caramel body & hints of cinnamon & nutmeg.</div>
                    <span class="item-abv">ABV: 52%</span>
                    <span class="item-ibu">IBU: 25</span>
                    <div class="item-made-in">Made In Germany</div>
                </div>
            </div>
            </div>
        </div>
    </div>
