.menu-detail {
    width: 100%;
    color: #051832;

    .menu-card {
        width: 100%;
        height: auto;
        min-height: 315px;
        background-color: #fff;
        margin: 15px auto;
        padding: 15px 0;
        border-radius: 15px;
        box-shadow: 10px 10px grey;

        .item-img {
            width: 130px;
            height: 200px;
            margin: 30px 15px;
            background-color: #000;
        }

        .item-name {
            margin: 20px 0;
            text-align: left;
            font-size: 25px;
        }

        .hr {
            background-color: #051832;
            border: 0 none;
            color: #051832;
            height: 1px;
        }

        .item-description {
            margin-bottom: 20px;
        }

        .item-abv {
        }

        .item-ibu {
            margin-left: 30px;
            margin-bottom: 20px;
        }

        .item-color {
            font-size: 13px;
            margin-top: 10px;
        }

        .item-price {
            width: 100%;
            font-size: 25px;
            text-align: right;
        }
    }
}

// -------------------------------------------- RESPONSIVE --------------------------------------------
// *----- PHONE -----*
@media screen and (max-width: 768px) {
    .menu-detail {
        display: none;
    }
}

// *----- IPAD PRO -----*
    @media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-detail {
        margin: 0;
        margin-right: 1px;
    }
}