.menu {
    width: 100%;
    height: 100%;
    color: #051832;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;

    .menu-item {
        display: flex;
        text-align: center;
        list-style-type: none;
        margin: 15px auto;
        padding: 0 1rem;
        margin: 0 0 1rem;

        .active {
            font-weight: bold;
            font-style: italic;
            transition: 0.1s;
        }

        section {
            display: flex;
            flex-direction: column;
            flex: 1;

            header {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-bottom: 10px;
                cursor: pointer;
                
                .spacer {
                    content: '';
                    width: 100%;
                    height: 14px;
                    margin: 0 .5rem;
                    border-bottom: 1px dotted #051832;
                    flex: 1;
                }

                .item-name {
                    margin: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}